//colors
$cyan-100 : hsla(179, 62%, 43%, 100%);
$cyan-70 : hsla(179, 62%, 43%, 70%);
$brightYellow : hsl(71, 73%, 54%);
$lightGray : hsl(204, 43%, 93%);
$grayishBlue : hsl(218, 22%, 67%);
$white-60 : hsla(0, 0%, 100%, 60%);
$white-80 : hsla(0, 0%, 100%, 80%);

//Font sizes
$font-sm: 0.875rem; //14px
$font-med: 1rem; //16
$font-lg: 1.25rem;
$font-2xl: 2rem;
$font-3xl: 3.25rem;
